# Output
/OUTPUT
/OUTPUT/*
/All_crossplot.html
/.httr-oauth

# Mac trash files
.DS_Store
*/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user

# SLURM output
*.err
*.out
